*.pyc
/data/
/_env/
/_source/
.project
.pydevproject
/node_modules/
/.tmp/
/.sass-cache/
.coverage
coverage.xml
nosetests.xml

# Visual Studio

/.vs
couchpotato/core/media/_base/providers/torrent/kickasstorrents.py
couchpotato/core/media/movie/providers/info/omdbapi.py
